extends layout

block content
   input(type="hidden", val='#{system}')#inputCurrentSystem
   .auc-container
     .col-sm-12.auc-detail-panel
       .col-md-offset-4.col-md-2.auc-detail-header
         .auc-detail-ttl #{system}
         span#locationContainer
       .col-md-1.auc-detail-header
         canvas.auc-chart
         span#curAuCTpsContainer
         span.auc-txt-delimiter &nbsp/&nbsp
         span#totAuCTpsContainer
         span.auc-txt-delimiter Tps
       .col-sm-offset-3.col-sm-1.auc-rm
         img(src='/img/title/system_solution.png', alt='', width="80" height="80").a(onclick='location.href="/auc-rm"') 
         .auc-txt-delimiter 극단적RM 
     
     .col-sm-12.auc-detail-panel    
       .col-sm-5.skt-panel.auc-detail-panel.stat-panel
         .col-sm-12
           img(src='/img/title/system_stat.png', alt='', width="40" height="40")
           span.auc-detail-txt 통계
              
       .col-sm-5.skt-panel.auc-detail-panel.alarm-panel
         .col-sm-12
           img(src='/img/title/system_alarm.png', alt='', width="40" height="40")
           span.auc-detail-txt 알람           

   
   
block javascripts
  script(src="/js/flot/jquery.flot.time.js")
  script(src="/js/twinkle/jquery.twinkle-0.9.0.min.js")
  script(src="/js/skt/auc-detail.js")
  script(src="/js/charts/Chart.js")
  script(src="/js/utils.js")    