extends layout

block content
   input(type="hidden", val='#{system}')#inputCurrentSystem
   .hss-container
     .col-sm-12.hss-detail-panel
       .col-md-offset-4.col-md-2.hss-detail-header
         .hss-detail-ttl #{system}
         span#locationContainer
       .col-md-1.hss-detail-header
         canvas.hss-chart
         span#curHSSTpsContainer
         span.hss-txt-delimiter &nbsp/&nbsp
         span#totHSSTpsContainer
         span.hss-txt-delimiter Tps
       .col-sm-offset-3.col-sm-1.hss-rm
         img(src='/img/title/system_solution.png', alt='', width="80" height="80").a(onclick='location.href="/hss-rm"') 
         .hss-txt-delimiter 극단적RM 
     
     .col-sm-12.hss-detail-panel    
       .col-sm-5.skt-panel.hss-detail-panel.stat-panel
         .col-sm-12
           img(src='/img/title/system_stat.png', alt='', width="40" height="40")
           span.hss-detail-txt 통계
           
              
       .col-sm-5.skt-panel.hss-detail-panel.alarm-panel
         .col-sm-12
           img(src='/img/title/system_alarm.png', alt='', width="40" height="40")
           span.hss-detail-txt 알람      
                

   
   
block javascripts
  script(src="/js/flot/jquery.flot.time.js")
  script(src="/js/twinkle/jquery.twinkle-0.9.0.min.js")
  script(src="/js/skt/hss-detail.js")
  script(src="/js/charts/Chart.js")
  script(src="/js/utils.js")    
  