doctype html
html.no-js(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=0.75')
    // favicon
    // ============================================
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    // Bootstrap CSS
    // ============================================
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // Bootstrap CSS
    // ============================================
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    // owl.carousel CSS
    // ============================================
    link(rel='stylesheet', href='/css/owl.carousel.css')
    link(rel='stylesheet', href='/css/owl.theme.css')
    link(rel='stylesheet', href='/css/owl.transitions.css')
    // meanmenu CSS
    // ============================================
    link(rel='stylesheet', href='/css/meanmenu/meanmenu.min.css')
    // animate CSS
    // ============================================
    link(rel='stylesheet', href='/css/animate.css')
    // normalize CSS
    // ============================================
    link(rel='stylesheet', href='/css/normalize.css')
    // mCustomScrollbar CSS
    // ============================================
    link(rel='stylesheet', href='/css/scrollbar/jquery.mCustomScrollbar.min.css')
    // jvectormap CSS
    // ============================================
    link(rel='stylesheet', href='/css/jvectormap/jquery-jvectormap-2.0.3.css')
    // notika icon CSS
    // ============================================
    link(rel='stylesheet', href='/css/notika-custom-icon.css')
    // wave CSS
    // ============================================
    link(rel='stylesheet', href='/css/wave/waves.min.css')
    // main CSS
    // ============================================
    link(rel='stylesheet', href='/css/main.css')
    // style CSS
    // ============================================
    link(rel='stylesheet', href='/css/style.css')
    // responsive CSS
    // ============================================
    link(rel='stylesheet', href='/css/responsive.css')
    // jquery UI CSS
    // ============================================
    link(rel='sytlesheet', href='/css/jquery-ui.min.css')
    // bootstrap toggle CSS
    // ============================================
    link(rel='stylesheet', href='/css/bootstrap-toggle.min.css')
    // icheck CSS
    // ============================================
    link(rel='stylesheet', href='/css/icheck/polaris.css')
    // modernizr JS
    // ============================================
    script(src='/js/vendor/modernizr-2.8.3.min.js')
    script(src='/js/vendor/chart.min.js')
    script(src='/js/utils.js')
    body
      | <!--[if lt IE 8]>
      |       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser. </p>
      |   <![endif]-->
      // Start Header Top Area
      .header-top-area
        .container
          .row
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              .logo-area
                a(href='/')
                  img(src='/img/logo/logo.png', alt='')
                span#currentTimeSpan(style='margin-right: 30px')
                a(href='/')
                  img(src='/speaker2.png', alt='')
                
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
              .header-top-menu.align-middle
                button.btn.waves-effect.mode-slt-btn#modeSimulation(data-toggle="modal", data-target="#sktSimulModal") RM Simulation
                //button.btn.waves-effect.mode-slt-btn#btnDetailsView(data-toggle="modal", data-target="#sktViewModal") 상면 View
                #sktSimulModal.modal.fade(role="dialog", style="display:none;")
                  .modal-dialog.modals-default
                    .modal-content
                      .modal-header
                        button(type="button", data-dismiss="modal").close &times
                      .modal-body
                        h1.modal-title 장비실 선택
                        p.modal-sub-title 
                        .row
                          .skt-smr-modal-tbl
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.skt-modal-name-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 사옥명
                            .col-lg-2.col-md-2.col-sm-6.col-xs-12.skt-modal-floor-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 층수
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.skt-modal-location-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 장비실 구분
                            .col-lg-4.col-md-6.col-sm-6.col-xs-12.skt-modal-button-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 클릭하여 상세보기
                      .modal-footer
                #sktViewModal.modal.fade(role="dialog", style="display:none;")
                  .modal-dialog.modals-default
                    .modal-content
                      .modal-header
                        button(type="button", data-dismiss="modal").close &times
                      .modal-body
                        h1.modal-title 국사 선택 // RM 시뮬레이션 
                        p.modal-sub-title
                        .row
                          .skt-smr-modal-tbl
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.skt-modal-name-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 사옥명
                            .col-lg-2.col-md-2.col-sm-6.col-xs-12.skt-modal-floor-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 층수
                            .col-lg-3.col-md-4.col-sm-6.col-xs-12.skt-modal-location-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 장비실 구분
                            .col-lg-4.col-md-6.col-sm-6.col-xs-12.skt-modal-button-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 클릭하여 상세보기
                      .modal-footer
                if floor
                  button.btn.waves-effect.mode-slt-btn.info-btn 층수 : #{floor}F
                ul.nav.navbar-nav.notika-top-nav
            .col-lg-1.col-md-1.col-sm-4.col-xs-4
              .dropdown-trig-sgn
                button#selectedTeamName.btn.triger-fadeIn.waves-effect.team-name-btn(data-toggle="dropdown", aria-expended="false")
                  span#selectedTeamNameSpan
                  span &nbsp
                  span
                    i.fa.fa-caret-down
                ul#dropdown-centers.dropdown-menu.triger-fadeIn-dp
            .col-lg-2.col-md-2.col-sm-8.col-xs-4
              .header-top-menu.align-middle
                button.btn.waves-effect.data-rcv-info-btn.data-rcv-info-ttl 미수집 : 
                button#data-rcv-info.btn.waves-effect.data-rcv-info-btn.btn-status(data-toggle="modal", data-target="#sktCollectionModal")
                //-  
                  span#vol-mute-btn.fa.fa-stack(data-mute="yes", onclick="muteAndUnmute()")
                    i.fa.fa-stack-2x.fa-volume-down
                    i.mute-on-off.fa.fa-stack-2x /
                #sktCollectionModal.modal.fade(role="dialog", style="display:none;")
                  .modal-dialog.modals-default
                    .modal-content
                      .modal-header
                        button(type="button", data-dismiss="modal").close &times
                      .modal-body
                        h1.modal-title 미수집 서버 목록
                        p.modal-sub-title &nbsp
                          button.btn.waves-effect.skt-collection-modal-mask-all(onclick="unMaskAllCollections()") Unmask All
                          span &nbsp&nbsp&nbsp
                          button.btn.waves-effect.skt-collection-modal-mask-all(onclick="maskAllCollections()") Mask All
                        p.modal-sub-title
                        .row
                          .skt-smr-modal-tbl
                            .col-lg-1.col-md-2.col-sm-4.col-xs-4.skt-modal-name-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 사옥명
                            .col-lg-1.col-md-2.col-sm-4.col-xs-4.skt-modal-floor-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 층수
                            .col-lg-1.col-md-2.col-sm-2.col-xs-4.skt-modal-location-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 장비실
                            .col-lg-3.col-md-6.col-sm-10.col-xs-10.skt-modal-server-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 서버명
                            .col-lg-4.col-md-8.col-sm-12.col-xs-12.skt-modal-last-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd Last Update
                            .col-lg-2.col-md-2.col-sm-4.col-xs-4.skt-modal-mask-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd Mask
                            //.col-lg-3.col-md-8.col-sm-12.col-xs-12.skt-modal-last-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd Last Update
                            //.col-lg-1.col-md-2.col-sm-4.col-xs-4.skt-modal-mask-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd Mask
                            //.col-lg-2.col-md-6.col-sm-8.col-xs-8.skt-modal-button-container
                              p.skt-smr-modal-txt.skt-smr-modal-tbl-hd 클릭하여 상세보기
                              


                
                              
      // End Header Top Area
      block content

      // End Footer area
      // jquery 
      // ============================================
      script(src='/js/vendor/jquery-1.12.4.min.js')
      // jquery UI
      // ============================================
      script(src='/js/jquery-ui.min.js')
      // bootstrap JS
      // ============================================
      script(src='/js/bootstrap.min.js')
      // wow JS
      // ============================================
      script(src='/js/wow.min.js')
      // price-slider JS
      // ============================================
      // commented as an error occurs using jquery ui
      // script(src='/js/jquery-price-slider.js')
      // owl.carousel JS
      // ============================================
      script(src='/js/owl.carousel.min.js')
      // scrollUp JS
      // ============================================
      script(src='/js/jquery.scrollUp.min.js')
      // meanmenu JS
      // ============================================
      script(src='/js/meanmenu/jquery.meanmenu.js')
      // counterup JS
      // ============================================
      script(src='/js/counterup/jquery.counterup.min.js')
      script(src='/js/counterup/waypoints.min.js')
      script(src='/js/counterup/counterup-active.js')
      // mCustomScrollbar JS
      // ============================================
      script(src='/js/scrollbar/jquery.mCustomScrollbar.concat.min.js')
      // sparkline JS
      // ============================================
      script(src='/js/sparkline/jquery.sparkline.min.js')
      script(src='/js/sparkline/sparkline-active.js')
      // sparkline JS
      // ============================================
      script(src='/js/flot/jquery.flot.js')
      script(src='/js/flot/jquery.flot.resize.js')
      script(src='/js/flot/curvedLines.js')
      script(src='/js/flot/flot-active.js')
      // knob JS
      // ============================================
      script(src='/js/knob/jquery.knob.js')
      script(src='/js/knob/jquery.appear.js')
      script(src='/js/knob/knob-active.js')
      // wave JS
      // ============================================
      script(src='/js/wave/waves.min.js')
      script(src='/js/wave/wave-active.js')
      // animation JS
      // ============================================
      script(src='/js/animation/animation-active.js')
      // todo JS
      // ============================================
      script(src='/js/todo/jquery.todo.js')
      // plugins JS
      // ============================================
      script(src='/js/plugins.js')
      // Chat JS
      // ============================================
      script(src='/js/chat/moment.min.js')
      script(src='/js/chat/jquery.chat.js')
      // main JS
      // ============================================
      script(src='/js/main.js')
      // bootstrap toggle JS
      // ============================================
      script(src='/js/bootstrap-toggle.min.js')
      // tawk chat JS
      // ============================================
      //script(src='/js/tawk-chat.js')
      // bootstrap growl JS
      // ============================================
      script(src='/js/notification/bootstrap-growl.min.js')
      // dashboard JS added (2019.05.11)
      // ============================================
      script(src='/js/skt/dashboard.js')
      // checkbox JS added
      // ============================================
      script(src="/js/icheck/icheck.min.js")
      // layout JS added (2019.06.06) => TODO : need to refactor js files
      // ============================================
      script(src='/js/skt/layout-init.js')
      // Additional javascripts block added (2019.05.16)
      // ============================================
      block javascripts
