extends layout

block content
   input(type="hidden", val='ucms')#inputCurrentSystem
   .ucms-rm-cont
        img(src='/img/title/ucms-rm.png', alt='', width="1600" height="1000", style="height: 900px")